html {
  box-sizing: border-box;
}
body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: rgb(190, 190, 190);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main_slider {
}
.main_slider__item {
  /* width: 100%; */
}
.main_slider__img {
  /* width: 100vw;
  width: 100%; */
  max-width: 100%;
}