@import "modules/reset";
@import "modules/common";

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: rgb(190, 190, 190);
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
figure {
  position: relative;
}
.main_slider {
  min-height: 390px;
}
.main_slider__caption {
  position: absolute;
  top: 50%;
  display: none;
}
.main_slider__item {
  position: relative;
  /* width: 100%; */
}
.main_slider__img {
  /* width: 100vw;
  width: 100%; */
  max-width: 100%;
}
